<!DOCTYPE html>
<html lang="en">
 {{>header}}
 <title>Wheather-About</title>
  <body>
    <!-- nav bar  -->

  {{>nav}}

    <!-- container start -->
    <div class="container">
      <div class="container center">
        <div class="row">
          <div class="card" style="width: 18rem">
            <img
              src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 "
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="col">
            <div class="container-fluid media-t text-center p-b">
              <p class="fs-3">Welcome To Devloper World</p>
              <p class="fs-2">
                I AM A <span id="w"> Mern Stack Developer</span> Youtuber AND A
                Freelancer
              </p>
              <button id="check"> <a href="https://portfolio-vashu.herokuapp.com/" style="text-decoration: none; color:black ;">ABOUT ME </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- container -->

    <!-- footer -->
  {{>footer}}

  
  {{>bottom}}
  </body>
</html>
