<!DOCTYPE html>
<html lang="en">
 {{>header}}
 <title>Error-Page</title>
  <body>
    <!-- nav bar  -->
{{>nav}}
    <!-- nav bar  -->
    <!-- container start -->

    <div class="card mx-auto mt">
      <img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" class="card-img-top" alt="..." />
      <div class="card-body mx-auto">
        <p class="card-text fs-5" style="text-align: center;">WELCOME TO DEVELOPER WORLD</p>
        <h5 class="card-title fs-1">OOPS! PAGE NOT FOUND</h5>
        <a href="/" class="btn btn-primary">GO BACK</a>
      </div>
    </div>

    <!-- container -->

    <!-- footer -->
  {{>footer}}
   {{>bottom}}
  </body>
</html>
