  <footer
      class="
        d-flex
        flex-wrap
        justify-content-between
        align-items-center
        py-3
        border-top
        bg-dark
      "
    >
      <span class="cw t-a">© 2021 | DEVELOPER</span>
    </footer>